body {
  background-image: url(/images/bulb.jpg);
  /* background-position: center center; */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body > header {
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  background: rgba(19, 23, 31, 0.8);
  backdrop-filter: blur(10px);
  /* TODO better font */

  nav {
    padding: 0 calc(2 * var(--pico-nav-element-spacing-horizontal));
  }
}

section {
  &#dylonious,
  &#waav {
    scroll-margin-top: 64px; /* sticky header height */
  }
}

#hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 90vh;
  margin: 0 auto var(--pico-block-spacing-vertical);
  overflow: hidden;
  position: relative;
  /* TODO fade out to bottom */

  #hero-overlay {
    background: var(--pico-background-color);
    opacity: 0.33;
    position: absolute;
    inset: 0;
  }
}

.social-icon svg {
  max-width: 28px;
  max-height: 28px;
}
