body > header {
  position: sticky;
  top: 0;
  background: var(--pico-background-color);
  border-bottom: 1px solid var(--pico-muted-border-color);
  z-index: 1;
  overflow: hidden;
  padding: 0;
  /* TODO better font */

  nav {
    padding: 0 calc(2 * var(--pico-nav-element-spacing-horizontal));
  }
}

body > main {
  padding-top: 0;
}

section {
  &#dylonious,
  &#waav {
    scroll-margin-top: 64px; /* sticky header height */
  }
}

#hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 90vh;
  margin: 0 auto var(--pico-block-spacing-vertical);
  overflow: hidden;
  position: relative;
  /* TODO fade out to bottom */

  #hero-overlay {
    background: var(--pico-background-color);
    opacity: 0.33;
    position: absolute;
    inset: 0;
  }
}

.social-icon svg {
  max-width: 28px;
  max-height: 28px;
}
