header {
  position: sticky;
  top: 0;
  background: var(--pico-background-color);
  border-bottom: 1px solid var(--pico-muted-border-color);

  .social-grid {
    text-align: center;

    a {
      text-decoration: none;
    }
  }
}

section {
  text-align: center;
}

#hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;

  h1 {
    position: absolute;
  }
}
